/*********************************/
/*             General           */
/*===============================*/
html {
    @apply scroll-smooth;
}

body {
    @apply text-[15px] text-slate-950;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    @apply font-lexend;
}

p {
    @apply leading-relaxed;
}