@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */
@import "./custom/fonts";

/* general */
@import "./custom/general";

/* components */
/* @import "components/buttons"; */

/* structure */
@import "./custom/structure/topnav";
@import "./custom/structure/footer";

/* pages */
@import "./custom/pages/helper";
@import "./custom/pages/contact";

@import "./extra";

@import "remixicon/fonts/remixicon.css";
